.carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 99%;
}

.carrossel_button_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;

}

.carrossel_movable_box{
    position: relative;
    display: flex;
    height: 99%;
    width: 99%;
    transition: 0.5s ease;
}

.carrossel_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%; 
    background-color: transparent; 
    outline: none;
    border: 0px;
    transition: 0.5s ease;
}

.carrossel_button:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
    cursor: pointer;
}

.carrossel_item_img{
    height: 100%;
    width: 100%;
    object-fit: COVER;
}

.carrossel_container{
    width: 80%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.carrossel_item{
    display: flex;
    justify-content: center;
    height: 100%;
    opacity: 1;
}

/* Define styles for screens between 40px and 900px */
@media screen and (min-width: 300px) and (max-width: 1100px) {
    .carrossel{
        padding-top: 15vh;
        height: 20vh;
    }

}