.boxcategorias {
    width: 66%;
    margin-top: 30px;
    gap: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.categoria{
    display: grid;
    place-items: center;
    width: 5%;
    padding: 1%;
    background-color: transparent;
    border: 1px solid #C3C3C3;
    border-radius: 10px;
    transition: 0.5s ease;
    box-shadow: 0px 0px 10px rgb(233, 233, 233);
    transform: scale(1);
    cursor: pointer;
}

.categoria:hover,textarea{
    color: white;
    transition: 0.5s ease;
    background-color: rgb(102, 192, 219);
    border: 0px;
    transition: 0.5s ease;
    transform: scale(1.2);
}

