.infos{
    margin-top: 2%;
     margin-bottom: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
}

.info_img_div{
    height: 30%;
    overflow: hidden;
    border-radius: 5px;
}

.info_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info{
    font-size: 95%;
    padding: 2%;
    padding-bottom: 2%;
    margin: 2%;
    background-color: transparent;
    width: 95%;
    border-radius: 15px;
    text-align: justify;
    width: 20vw;
    box-shadow: 0px 0px 10px rgb(202, 202, 202);
}

.info > span>h2 {
    color: rgb(60, 60, 60);
}

.info p {
    margin-bottom: 0;
}

/* Define styles for screens between 40px and 900px */
@media screen and (min-width: 300px) and (max-width: 1100px) {
    .info{
        width: 80vw;
        padding: 5%;
    }

    .infos{
        flex-direction: column;
    }

}